/*
 * td4.css
 * Root namespace styles
 */

/** Begin reset */

* {
    margin  : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

h1,h2,h3,h4,h5,h6,p { margin-bottom : 10px; }

ol,ul,dl { list-style-position : inside;}

/** End reset */

body {
    font : 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color            : #444;
    background-color : #888;
}

a { text-decoration : none; }

a:link, a:visited { color : inherit; }

a:hover { text-decoration: underline; }

strong {
    font-weight : 800;
    color       : #000;
}

#td4 {
    position : absolute;
    top      : 8px;
    left     : 8px;
    bottom   : 8px;
    right    : 8px;

    min-width  : 1200px;
    min-height : 950px;
    overflow   : hidden;

    background-color : #fff;
    border-radius    : 0 8px 0 8px;
}
